<div class="ui six item menu admin-menu">
  {{#link-to "admin.all-wods" class="item"}}
    <a href={{view.href}}>All WODs</a>
  {{/link-to}}

  {{#link-to "admin.create-wod" class="item"}}
    <a href={{view.href}}>Create WOD</a>
  {{/link-to}}

  {{#link-to "admin.callouts" class="item"}}
    <a href={{view.href}}>All Callouts</a>
  {{/link-to}}

  {{#link-to "admin.create-callout" class="item"}}
    <a href={{view.href}}>Create Callout</a>
  {{/link-to}}

  {{#link-to "admin.all-posts" class="item"}}
    <a href={{view.href}}>All Posts</a>
  {{/link-to}}

  {{#link-to "admin.create-post" class="item"}}
    <a href={{view.href}}>Create Post</a>
  {{/link-to}}
</div>
