<div class="image-container">
  <div class="{{imageType}}">
    <div class="image">
      {{#if imageUrl}}
      <img class="" src={{imageUrl}}>
      {{else}}
      <img class="" src="/assets/place-holder-image.png">
      {{/if}}
    </div>

    {{#if uploadError}}
    <div class="ui negative small message">
      {{error}}
    </div>
    {{/if}}
  </div>
</div>

<div class="controlls">
  <div class="">
    <label class="ui primary button upload" for={{imageType}}>Upload Image</label>
    {{s3-upload id=imageType onComplete=(action "imageUploadComplete") onError=(action "imageUploadFailed")}}
  </div>

  <div class="ui header uppercase or-divider">
    -Or-
  </div>


  <div class="">
    <div class="ui input image-url">
      {{input type="text" value=imageUrl placeholder="Enter Image URL"}}
    </div>
  </div>
</div>
