<div class="ui borderless vertically fitted top fixed menu main-menu">
  <a class="left item" href="/"><img class="ui mini image mini-logo" src="/assets/EBCF_AnchorText.png"></a>

  {{#link-to "getting-started" class="item"}}
    <a href={{view.href}}>GETTING STARTED</a>
  {{/link-to}}

  {{#link-to "about" class="item"}}
    <a href={{view.href}}>ABOUT US</a>
  {{/link-to}}

  {{#link-to "schedule" class="item"}}
    <a href={{view.href}}>SCHEDULE</a>
  {{/link-to}}

  {{#link-to "pricing" class="item"}}
    <a href={{view.href}}>PRICING</a>
  {{/link-to}}

  {{#link-to "wods" class="item"}}
    <a href={{view.href}}>WODs</a>
  {{/link-to}}

  {{#link-to "news" class="item"}}
    <a href={{view.href}}>NEWS</a>
  {{/link-to}}

  {{#link-to "contact" class="item"}}
    <a href={{view.href}}>CONTACT US</a>
  {{/link-to}}

</div>
