{{#if post.bannerImage}}
  <div class="banner-image">
    <img  class="post-image" src={{post.bannerImage}}>
  </div>
{{/if}}

<div class="post-headers">
  <div class="ui header large uppercase post-title">{{{post.title}}}</div>
  <div class="ui header medium orange post-date">{{post.prettyDate}}</div>
</div>

<div class="post-content">
  {{#if post.contentImage}}
    <div class="image">
      <img class="ui large right floated image post-image" src={{post.contentImage}}>
    </div>
  {{/if}}

  <p class="pre large">{{{post.content}}}</p>
</div>
