{{#if post.bannerImage}}
  <div class="banner-image">
    <div class="image">
      <img  class="centered post-image" src={{post.bannerImage}}>
    </div>
  </div>
{{/if}}

<div class="post-headers">
  <div class="ui header large uppercase post-title">{{{post.title}}}</div>
  <div class="ui header medium orange post-date">{{post.prettyDate}}</div>
</div>

<div class="post-content">
  <p class="pre large">{{{post.content}}}</p>

  {{#if post.contentImage}}
    <div class="">
      <img class="ui large centered image" src={{post.contentImage}}>
    </div>
  {{/if}}
</div>
