{{#if post.bannerImage}}
  <div class="banner-image">
    <a href={{post.bannerImage}} target="_blank">
      <img  class="post-image" src={{post.bannerImage}}>
    </a>
  </div>
{{/if}}

<br>

<div class="post-headers">
  <div class="ui header large uppercase post-title">{{{post.title}}}</div>
  <div class="ui header medium orange post-date">{{post.prettyDate}}</div>
</div>

<div class="post-content">
  <div class="content">
    {{#if post.contentImage}}
      <img class="ui large right floated image post-image" src={{post.contentImage}}>
    {{/if}}

    <p class="pre large">{{{post.content}}}</p>
  </div>

</div>
