<div class="ui centered two column stackable grid">

  <div class="column">

    <div class="row">
      <div class="image-container">
        {{image-uploader
          imageUrl=wod.image
          imageType="content"
          imageUploadComplete=(action imageUploadComplete)
          imageUploadFailed=(action imageUploadFailed)}}
      </div>
    </div>

    <div class="row">
      <div class="ui medium header">Tags</div>
      <div class="manage-tags">
        {{#each wod.tags as |tag|}}
          <div class="ui animated button tag-button" {{action 'removeTagFromWod' tag}}>
            <div class="visible content">
              {{tag.value}}
            </div>
            <div class="hidden content">
              <i class="remove icon"></i>
            </div>
          </div>
        {{/each}}

        {{#unless showTagDropdown}}
          <div class="ui icon button tag-button" {{action 'triggerTagDropdown'}}>
            <i class="plus icon"></i>
          </div>
        {{else}}
          {{#ui-dropdown
            onChange=(action 'selectTag')
            class="search selection tag-dropdown"
            selected=addTagSelection
            hideAdditions=false
            forceSelection=false
            allowAdditions=true as |execute mapper|}}
            <div class="default text">Add Tag</div>
            <div class="menu">
              <div class="scrolling menu">
                {{#each allTags as |tag|}}
                  <div class="item" data-value="{{map-value mapper tag}}">
                    {{tag.value}}
                  </div>
                {{/each}}
              </div>
            </div>
          {{/ui-dropdown}}
        {{/unless}}
      </div>
    </div>

    <div class="row">
      <div class="ui primary button bulk-tag {{if bulkTagging "loading"}}" {{action "autoTagWods"}}>
        Auto Tag WODs
      </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <div class="ui medium header">Enabled?</div>
      {{ui-checkbox checked=wod.enabled onChange=(action (mut wod.enabled))}}
    </div>

    <br>

    <div class="row">
      <div class="ui medium header">WOD Date</div>
      <div class="ui input">
        {{input type="date" value=wod.datePickerDate}}
      </div>
    </div>

    <br>

    <div class="bottom aligned row">
      <div class="ui medium header">Publish Date</div>
      <div class="ui input">
        {{input type="date" value=wod.publishDay}}
      </div>
      <i class="large at icon"></i>
      <div class="ui input">
        {{input type="time" value=wod.publishTime}}
      </div>
    </div>

    {{#if (eq type 'wod')}}
      <div class="ui medium header">Strength/Skill</div>
      {{textarea rows="10" value=wod.strength placeholder=wod.strength}}
    {{/if}}

    <div class="ui medium header">Conditioning</div>
    {{textarea rows="10" value=wod.conditioning placeholder=wod.conditioning}}

  </div>

  <div class="sixteen wide column">
    {{#if (eq type 'wod')}}
      <div class="ui medium header">About This WOD</div>
      {{textarea rows="7" value=wod.description placeholder=wod.description}}

      <div class="row">
        <div class="ui medium header">Video ID</div>
        <div class="ui input">
          {{input type="text" value=wod.videoId placeholder=wod.videoId}}
        </div>
      </div>
    {{/if}}

    <button class="ui primary large button update-button"{{action "saveWod"}}>Save WOD</button>
  </div>

</div>
