<article class="ui two column mobile reversed stackable grid page-grid">

  <div class="column">
    <div class="image-container {{if route "small"}}">
      <a href={{if wod.image wod.image}}>
        {{async-image
          class="wod-image"
          src=(if wod.image wod.image placeHolderImage)
          alt=alt
        }}
      </a>
    </div>

    {{#unless route}}
      {{#each wod.tags as |tag|}}
        {{#link-to 'wods' (query-params tag=tag.value date=null) class="ui animated button tag-button"}}
          <div class="visible content">
            {{tag.value}}
          </div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        {{/link-to}}
      {{/each}}
    {{/unless}}
  </div>

  <div class="sixteen wide mobile only right aligned column">
    {{#if route}}
      {{#link-to (concat route '.wod') wod.id class="read-more"}}
        Read More
        <i class="chevron right icon"></i>
      {{/link-to}}
    {{/if}}
  </div>

  <div class="column">
    {{#unless route}}
      {{#link-to route class="read-more"}}
        <i class="chevron left icon"></i>
        Back
      {{/link-to}}
    {{/unless}}
    <div class="ui huge header">{{wod.prettyDate}}</div>

    {{#if wod.strength}}
      <div class="ui large header orange">STRENGTH/SKILL</div>
      <div class="pre">{{{wod.strength}}}</div>
    {{/if}}

    {{#if wod.conditioning}}
      <div class="ui large header orange">CONDITIONING</div>
      <div class="pre">{{{wod.conditioning}}}</div>
    {{/if}}
  </div>

  {{#if route}}
    <div class="sixteen wide computer only tablet only right aligned column">
      {{#link-to (concat route '.wod') wod.id class="read-more"}}
        Read More
        <i class="chevron right icon"></i>
      {{/link-to}}
    </div>
  {{/if}}
</article>

{{#unless route}}
  {{#if wod.description}}

    <hr>

    <div class="ui one column stackable centered grid bottom-padding">

      <div class="column">
        <div class="ui large header orange">ABOUT THIS WORKOUT</div>
        <div class="pre">{{{wod.description}}}</div>
      </div>

      {{#if wod.videoId}}
        <div class="ten wide column">
          {{ui-embed data-source="youtube" data-id=wod.videoId}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
