<div class="ui one center aligned column grid">
  <div class="row">
    <div class="ui input datepicker">
      {{pikaday-input value=date format="MM.DD.YYYY" placeholder="Search By Date" disabled=disableDatePicker}}
    </div>
  </div>

  <button class="ui button hidden clearDate"{{action clearSearch}} disabled={{disableDatePicker}}>Clear Date</button>

  <div class="ui horizontal divider">
    Or
  </div>

  {{search-tags
    tags=tags
    selectedTag=selectedTag
    disabled=disableTagPicker
    onChange=(action tagEntered)}}

  <div class="row">
    <button class="ui button hidden clearTags" {{action clearSearch}} disabled={{disableTagPicker}}>Clear Tags</button>
  </div>
</div>
