<div class="ui centered two column stackable grid page-grid all-wods">
  <div class="row">
    <div class="date-filter">
      <div class="ui input">
        {{input type="date" value=fromDate}}
      </div>

      <div>to</div>

      <div class="ui input">
        {{input type="date" value=toDate}}
      </div>

      <div class="ui large primary icon button filter" {{action filterDate}}>
        Filter
      </div>
    </div>
  </div>

  <br>

  <table class="ui basic collapsing celled tablet stackable table">
    <thead>
      <tr>
        <th class="ui center aligned header">Active</th>
        <th class="ui center aligned header">Image</th>
        <th class="ui center aligned header">Link</th>
        <th class="ui center aligned header">Enabled</th>
        <th class="ui center aligned header">Date</th>
        <th class="ui center aligned header">Publish Date (PACIFIC)</th>
        {{#unless isForBootcamp}}
          <th class="ui center aligned header">Strength/Skill</th>
        {{/unless}}
        <th class="ui center aligned header">Conditioning</th>
        <th class="ui center aligned header">Edit</th>
      </tr>
    </thead>
    <tbody>
      {{#each wods as |wod|}}
        <tr class="{{if wod.active "positive"}}">
          <td class="center aligned">
            <i class="icon {{if wod.active "checkmark" "close"}}"></i>
          </td>

          <td>
             <img src={{wod.image}} class="ui small image">
          </td>

          <td>
            {{#link-to 'wod' wod class="read-more"}}
              {{wod.id}}
            {{/link-to}}
          </td>

          <td class="center aligned">
            {{wod.enabled}}
          </td>

          <td class="center aligned">
            {{wod.prettyDate}}
          </td>

          <td class="center aligned">
            {{wod.prettyPublishDate}}
          </td>

          {{#unless isForBootcamp}}
            <td>
              {{wod.strength}}
            </td>
          {{/unless}}

          <td>
            {{wod.conditioning}}
          </td>

          <td>
            {{#link-to (concat 'admin.' modelType '.edit') wod.id class="read-more"}}
              Edit
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
