<div class="ui one center aligned column grid">
  <div class="row">
    <div class="ui input datepicker">
      {{pikaday-input value=date placeholder="Search By Date" disabled=disableDatePicker}}
    </div>
  </div>

  <button class="ui button hidden clearDate"{{action "clearDate"}} disabled={{disableDatePicker}}>Clear Date</button>

  <div class="ui horizontal divider">
    Or
  </div>

  {{search-tags tags=tags tag=tag disabled=disableTagPicker}}

  <div class="row">
    <button class="ui button hidden clearTags" {{action "clearTags"}} disabled={{disableTagPicker}}>Clear Tags</button>
  </div>
</div>
