<div class="ui centered two column grid page-grid">

  <div class="row">
    <div class="left aligned column">
      <div class="ui medium header">Callout Content</div>
      <div class="ui input callout-input">
        {{input type="text" value=newValue placeholder=newValue}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="left aligned eight wide column">
      <div class="ui medium header">Start Date</div>
      <div class="ui input">
        {{input type="date" value=newStartDay}}
      </div>
      <i class="large at icon"></i>
      <div class="ui input">
        {{input type="time" value=newStartTime}}
      </div>
    </div>

    <div class="left aligned eight wide column">
      <div class="ui medium header">End Date</div>
      <div class="ui input">
        {{input type="date" value=newEndDay}}
      </div>
      <i class="large at icon"></i>
      <div class="ui input">
        {{input type="time" value=newEndTime}}
      </div>
    </div>
  </div>

  <div>
    <div class="ui primary large button" {{action "createCallout"}}>Create Callout</div>
  </div>
</div>

<br>
