<!-- <h2 id="title">Welcome to Ember</h2>

{{#each model as |item|}}
	{{item.content}}
{{/each}}



{{file-upload url="/upload"}}
<button id="upload" {{action "uploadFile"}}>
    Upload
</button>
{{outlet}} -->
{{outlet}}
