{{title "Contact Us"}}

{{google-map class="contact-map"}}

<div class="ui centered two column stackable grid contact page-grid">
  <div class="ui five wide computer only ten wide tablet only column">
    <p class="large">
      You can find us just off 3rd & Blanchard.
      We are in the 1st floor of the Grandview Building.
      There are big windows out front; you can't miss us!
    </p>

    <div  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="ui large header">
      <span itemprop="streetAddress">{{t 'contact.address.street'}}</span>
      <br>
      <span itemprop="streetAddress">{{t 'contact.address.unit'}}</span>
      <br>
      <span itemprop="addressLocality">{{t 'contact.address.city'}}</span>, <span itemprop="addressRegion">{{t 'contact.address.state'}}</span> <span itemprop="postalCode">{{t 'contact.address.zip'}}</span>
    </div>

    <a class="ui primary large button" href="https://www.google.com/maps/place/Elliott+Bay+CrossFit" target="_blank">GET DIRECTIONS</a>

    <div itemprop="email" class="ui large header">
      {{t 'contact.email'}}
      <br>
      {{t 'contact.phone'}}
    </div>

  </div>

  <div class="ui five wide center aligned mobile only column">
    <p class="large">
      You can find us just off 3rd & Blanchard.
      We are in the 1st floor of the Grandview Building.
      There are big windows out front; you can't miss us!
    </p>

    <div  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="ui large header">
      <span itemprop="streetAddress">{{t 'contact.address.street'}}</span>
      <br>
      <span itemprop="streetAddress">{{t 'contact.address.unit'}}</span>
      <br>
      <span itemprop="addressLocality">{{t 'contact.address.city'}}</span>, <span itemprop="addressRegion">{{t 'contact.address.state'}}</span> <span itemprop="postalCode">{{t 'contact.address.zip'}}</span>
    </div>

    <a class="ui primary button" href="https://www.google.com/maps/place/Elliott+Bay+CrossFit" target="_blank">GET DIRECTIONS</a>

    <div itemprop="email" class="ui large header">
      {{t 'contact.email'}}
      <br>
      {{t 'contact.phone'}}
    </div>
  </div>

  <div class="ui five wide column">
    <img itemprop="image" class="ui large centered image" alt="Elliott Bay CrossFit Location" src="/assets/new-location.jpg">
  </div>
</div>
