Title:{{input type="text" value=newTitle}}<br>
WOD Date:{{input type="date" value=newDate}}<br>
Strength:{{textarea value=newStrength}}<br>
Conditioning:{{textarea value=newConditioning}}<br>
{{s3-upload id="new-image" onComplete="imageUploadComplete"}}
<div id="wodImage">
  <img  src={{imageUrl}}>
</div>


<!-- {{#each model as |tag|}}
  <h3>{{tag.value}}</h3>
{{/each}} -->


<!-- {{create-tag allTags=model}} -->
Tags:{{ember-selectize
  content=model
  optionValuePath="content.id"
  optionLabelPath="content.value"
  multiple=true
  selection=selectedTags
  placeholder="Select an item" }}

<br>
<button {{action "createWod"}}>Create WOD</button>


<canvas id="canvas">

</canvas>
