<!-- Title:{{input type="text" value=newTitle}}
Owner:{{input type="text" value=newOwner}}
City:{{input type="text" value=newCity}}
Type:{{input type="text" value=newType}}
<!-- Image:{{file-upload url="/upload" file=file source=source}} -->
<!-- Image:{{file-upload file=file binary=binary}} -->
<!-- Image2: {{input type="file" action="fileUploaded"}} -->
<!-- Image:{{input-file files=files}} -->
<!-- Image:{{input type="file" action="showImage"}} -->
<!-- <canvas>
<img src="" alt="" width="500px">
</canvas>
Bedrooms:{{input type="text" value=newBedrooms}}
<button {{action "createRental"}}>Create Rental</button>

{{image-preview}}
<canvas id="canvas">

</canvas> -->
<!-- {{#if file}}
  <ul>

    {{file.name}}
    {{image-preview file=file}}
  </ul>
{{/if}} -->

{{s3-upload id="new-image"}}
