<div class="ui two column grid">
  <div class="column">
      <div class="row">
        <div class="ui medium header">Title</div>
        <div class="ui input focus">
          <input type="text" value={{newTitle}}>
        </div>

        <div class="ui medium header">WOD Date</div>
        <div class="ui input focus">
          <input type="date" value={{newDate}}>
        </div>
    </div>
    <div class="row">
      <div class="ui medium header">Strength</div>
      {{textarea rows="10" value=newStrength}}

      <div class="ui medium header">Conditioning</div>
      {{textarea rows="10" value=newConditioning}}
    </div>  
  </div>

  <div class="column">
    {{#if imageUrl}}
      <div id="wodImage">
        <img  src={{imageUrl}} width="300px">
      </div>
    {{else}}
      <div id="wodImage">
        <img  src="/assets/place-holder-image.png" width="300px">
      </div>
    {{/if}}

    {{#if uploadError}}
      <div>
        {{error}}
        {{errorText}}
      </div>
    {{/if}}

    <div id="image-upload-wrapper">
      <label class="ui button" for="new-image"> Upload Image</label>
        {{s3-upload id="new-image" onComplete="imageUploadComplete" onError="imageUploadFailed"}}
    </div>
  </div>


  <!-- {{#each model as |tag|}}
    <h3>{{tag.value}}</h3>
  {{/each}} -->


  <!-- {{create-tag allTags=model}} -->
  <!-- Tags:{{ember-selectize
    content=model
    optionValuePath="content.id"
    optionLabelPath="content.value"
    multiple=true
    selection=selectedTags
    placeholder="Select an item" }} -->
  <!-- <select {{action 'change' on='change'}}>
    {{#each model key="@index" as |tag|}}
      <option value="{{tag}}" >
        {{tag.value}}
      </option>
    {{/each}}
  </select> -->
  <div id="selectTags">
    <label>Select Tags</label>
    {{tag-select2 class="ui dropdown" tags=model selectedTags=tagsForWod}}
  </div>
  <!-- {{select-2
      content=model
      value=selectedTags
      multiple=true
      placeholder="Select Tags"
  }} -->

  <br>
  <!-- <button {{action "createWod"}}>Create WOD</button> -->
  <button class="ui primary button"{{action "createWod"}}>Create WOD</button>


</div>
