<div class="banner">
  <h1 class="ui header">Create WOD</h1>
</div>


<!-- <div class="ui container"> -->
<div class="ui centered two column grid">

  <div class="six wide column">
    <div class="image-container">
      {{#if imageUrl}}
          <img  class=wod-image src={{imageUrl}} width="300px">
      {{else}}
          <img  src="/assets/place-holder-image.png" width="300px">
      {{/if}}

      {{#if uploadError}}
        <div>
          {{error}}
          {{errorText}}
        </div>
      {{/if}}
    </div>

    <div class="image-upload-wrapper">
      <label class="ui button" for="new-image"> Upload Image</label>
        {{s3-upload id="new-image" onComplete="imageUploadComplete" onError="imageUploadFailed"}}
    </div>

    <div id="selectTags">
      <label>Select Tags</label>
      {{tag-select2 class="ui dropdown" tags=tags selectedTags=tagsForWod}}
    </div>

    or

    <button class="ui button" {{action "openModal"}}> Create New Tag</button>
  </div>

  <div class="two wide column">
      <div class="row">
        <div class="ui medium header">Title</div>
        <div class="ui input">
          {{input type="text" value=newTitle}}
        </div>

        <div class="ui medium header">WOD Date</div>
        <div class="ui input">
          {{input type="date" value=newDate}}
        </div>
    </div>

    <div class="row">
      <div class="ui medium header">Strength</div>
      {{textarea rows="10" value=newStrength}}

      <div class="ui medium header">Conditioning</div>
      {{textarea rows="10" value=newConditioning}}
    </div>

    <button class="ui primary button"{{action "createWod"}}>Create WOD</button>
  </div>


</div>

{{password-modal loginSuccess="logIn"}}

{{create-tag closeModal="close"}}
<!-- </div> -->
