{{title-banner img-src="wods" page-title="WOD ARCHIVE"}}

<div class="ui centered two column stackable grid">

  <div class="six wide column">
    <div class="image-container">
      {{#if imageUrl}}
          <img  class=wod-image src={{imageUrl}} width="300px">
      {{else}}
          <img class="place-holder-image" width="300px">
      {{/if}}

      {{#if uploadError}}
        <div>
          {{error}}
          {{errorText}}
        </div>
      {{/if}}
    </div>

    <div class="image-upload-wrapper">
      <label class="ui button upload" for="new-image">Upload Image</label>
      {{s3-upload id="new-image" onComplete="imageUploadComplete" onError="imageUploadFailed"}}


      <div class="ui horizontal divider">
        Or
      </div>
      <div class="ui input" id="image-url">
        {{input type="text" value=image-url placeholder="Enter Image URL"}}
      </div>
    </div>

    {{select-tags tags=tags selectedTags=selectedTags}}

  </div>

  <div class="four wide column">
      <div class="row">
        <div class="ui medium header">WOD Date</div>
        <div class="ui input">
          {{input type="date" value=newDate}}
        </div>
    </div>
    <br>
    <div class="row">
      <div class="ui medium header">Strength</div>
      {{textarea rows="10" value=newStrength}}

      <div class="ui medium header">Conditioning</div>
      {{textarea rows="10" value=newConditioning}}
    </div>
  </div>

  <div class="ten wide column">
    <div class="ui medium header">About This WOD</div>
    {{textarea rows="7" value=newDescription}}

    <div class="row">
      <div class="ui medium header">Video ID</div>
      <div class="ui input">
        {{input type="text" value=newVideoId}}
      </div>
    </div>

    <button class="ui primary large button update-button"{{action "createWod"}}>Create WOD</button>
  </div>


</div>

{{password-modal}}
