<div class="ui two column grid">
  <div class="column">
      <div class="row">
        <div class="ui medium header">Title</div>
        <div class="ui input">
          {{input type="text" value=newTitle}}
        </div>

        <div class="ui medium header">WOD Date</div>
        <div class="ui input">
          {{input type="date" value=newDate}}
        </div>
    </div>
    <div class="row">
      <div class="ui medium header">Strength</div>
      {{textarea rows="10" value=newStrength}}

      <div class="ui medium header">Conditioning</div>
      {{textarea rows="10" value=newConditioning}}
    </div>
  </div>

  <div class="column">
    {{#if imageUrl}}
      <div id="wodImage">
        <img  src={{imageUrl}} width="300px">
      </div>
    {{else}}
      <div id="wodImage">
        <img  src="/assets/place-holder-image.png" width="300px">
      </div>
    {{/if}}

    {{#if uploadError}}
      <div>
        {{error}}
        {{errorText}}
      </div>
    {{/if}}

    <div id="image-upload-wrapper">
      <label class="ui button" for="new-image"> Upload Image</label>
        {{s3-upload id="new-image" onComplete="imageUploadComplete" onError="imageUploadFailed"}}
    </div>

    <div id="selectTags">
      <label>Select Tags</label>
      {{tag-select2 class="ui dropdown" tags=tags selectedTags=tagsForWod}}
    </div>

    or

    <button class="ui button" {{action "openModal"}}> Create New Tag</button>

  </div>

  <button class="ui primary button"{{action "createWod"}}>Create WOD</button>
</div>

<!-- {{#if notLoggedIn}}
  {{password-modal loginSuccess="logIn"}}
{{/if}} -->

<!-- {{#if showModal}}
  {{create-tag closeModal="close"}}
{{/if}} -->
{{password-modal loginSuccess="logIn"}}

{{create-tag closeModal="close"}}
