<h2> Edit Wod</h2>


Title:{{input type="text" value=model.title}}<br>
WOD Date:{{input type="date" value=model.date}}<br>
Strength:{{textarea value=model.strength}}<br>
Conditioning:{{textarea value=model.conditioning}}<br>
{{s3-upload id="new-image" onComplete="imageUploadComplete"}}
<div id="wodImage">
  <!-- <img  src={{imageUrl}}> -->
  <img  src={{model.image}}>

</div>


{{#each model.tags as |tag|}}
  <div class="ui animated button" {{action "removeTag" tag}}>
    <div class="visible content">
      {{tag.value}}
    </div>
    <div class="hidden content">
      <i class="remove icon"></i>
    </div>
  </div>
{{/each}}

{{tag-select2 tags=allTags selectedTags=newTags}}

<br>
<button class="ui primary button"{{action "updateWod"}}>Update WOD</button>

{{#if notLoggedIn}}
  {{password-modal loginSuccess="logIn"}}
{{/if}}
