{{title-banner img-src="wods" page-title="WOD ARCHIVE"}}

<div class="ui centered two column stackable grid">
  <div class="six wide column">
    <div class="row">

      <div class="image-container">
        {{#if wod.image}}
          <!-- <div class="wod-image" background:"url({{wod.image}})"><div> -->
          <a href={{wod.image}}>
            <img  class=wod-image width=300px src={{wod.image}}>
          </a>
        {{else}}
          <img  width=300px class="place-holder-image">
        {{/if}}

        {{#if uploadError}}
          <div>
            {{error}}
            {{errorText}}
          </div>
        {{/if}}
      </div>

      <div class="image-upload-wrapper">
        <label class="ui button primary" for="new-image"> Upload Image</label>
          {{s3-upload id="new-image" onComplete="imageUploadComplete" onError="imageUploadFailed"}}

        <div class="ui horizontal divider">
          Or
        </div>
        <div class="ui input" id="image-url">
          {{input type="text" value=image-url placeholder="Enter Image URL"}}
        </div>
      </div>

    </div>
    <div class="row">
      {{select-tags tags=tags selectedTags=selectedTags}}
      {{#each wod.tags as |tag|}}
        <div class="ui animated button tag-button" {{action "removeTag" tag}}>
          <div class="visible content">
            {{tag.value}}
          </div>
          <div class="hidden content">
            <i class="remove icon"></i>
          </div>
        </div>
      {{/each}}

    </div>
  </div>

  <div class="four wide column">

    <div class="ui medium header">WOD Date</div>
    <div class="ui input">
      {{input type="date" value=wod.datePickerDate}}
    </div>

    <div class="ui medium header">Strength</div>
    {{textarea rows="10" value=wod.strength placeholder=wod.strength}}

    <div class="ui medium header">Conditioning</div>
    {{textarea rows="10" value=wod.conditioning placeholder=wod.conditioning}}

    <!-- <button class="ui primary button"{{action "deleteWod"}}>Delete WOD</button> -->
  </div>

  <div class="ten wide column">
    <div class="ui medium header">About This WOD</div>
    {{textarea rows="7" value=wod.description placeholder=wod.description}}

    <div class="row">
      <div class="ui medium header">Video ID</div>
      <div class="ui input">
        {{input type="text" value=wod.video_id placeholder=wod.video_id}}
      </div>
    </div>

    <button class="ui primary large button update-button"{{action "updateWod"}}>Update WOD</button>
  </div>

</div>

<!-- {{password-modal}} -->
