{{title-banner img-src="wods" page-title="WOD ARCHIVE"}}

<div class="ui centered two column grid">

  <div class="left aligned five wide column">
    <div class="ui medium header">Callout Content</div>
    <div class="ui input callout-input">
      {{input type="text" value=callout.value placeholder=callout.value}}
    </div>
  </div>

  <div class="center aligned two wide column">
    <div class="ui medium header">Enabled?</div>
    {{ui-checkbox checked=callout.enabled}}
  </div>

  <div class="row">
    <button class="ui primary button"{{action "updateCallout"}}>Update Callout</button>
  </div>
</div>

{{password-modal loginSuccess="logIn"}}
