<div class="ui grid video-grid">
    <div class="sixteen wide computer only tablet only column video-column">
      <video autoplay loop muted poster="/assets/EBCF-IMG.jpg">
        <source src="https://s3-us-west-2.amazonaws.com/ebcf/assets/EBCF.mp4" type="video/mp4">
      </video>
      <img class="ui centered large image" alt="Elliott Bay CrossFit Logo" src="/assets/EBCF_Full_Logo.png">
    </div>

    <div class="sixteen wide mobile only column mobile-video-column">
      <img class="ui centered medium image" alt="Elliott Bay CrossFit Logo" src="/assets/EBCF_Full_Logo.png">
    </div>
</div>

<div class="ui centered stackable grid home-grid page-grid">

  {{#if callout.enabled}}
    <div class="centered row" id="callout-row" style="background-color: #F94725">
      <h3>{{callout.value}}</h3>
    </div>
  {{/if}}

  <div class="centered row" id="row-1">
    <div class="five wide computer only tablet only column">

      <div class= "row">
        <h1 class="home-wod">WORKOUT OF THE DAY</h1>
      </div>

      <div class= "computer only tablet only row button-row">
        {{#link-to 'wods' class="ui huge button"}} WOD ARCHIVE{{/link-to}}
      </div>
    </div>

    <div class="four mobile only column">
      <div class= "row">
        <h1 class="home-wod">WORKOUT OF THE DAY</h1>
      </div>
    </div>

    <div class="five wide column">
        <div class="ui header huge">{{wod.prettyDate}}</div>
        {{#if wod.strength}}
          <div class="ui large header orange">STRENGTH</div>
          <div class="home-pre">{{wod.strength}}</div>
        {{/if}}

        {{#if wod.conditioning}}
          <div class="ui large header orange">CONDITIONING</div>
          <div class="home-pre">{{wod.conditioning}}</div>
        {{/if}}

        {{#link-to 'wod' wod class="read-more"}}
          Read More
          <i class="chevron right icon"></i>
        {{/link-to}}
    </div>

    <div class="mobile only center aligned column">
      {{#link-to 'wods' class="ui huge button"}} WOD ARCHIVE{{/link-to}}
    </div>

  </div>

  <div class="centered row" id="row-2" style="background-color: #f2f2f2">
    <!-- <div class="centered row" id="row-2"> -->

    <div class="four wide center aligned column">
      <div class="comminity-image"></div>
      <div class="ui large header">COMMUNITY</div>

      <p class="">
        Elliott Bay CrossFit is a community of fun, dedicated, and compassionate athletes.
        You will be surrounded by people who push you to get better every day.
        The camaraderie and competition our community provides drives progress and builds lasting friendships.
      </p>
    </div>

    <div class="mobile only column">
      <div class="ui horizontal divider">
        <i class="anchor icon"></i>
      </div>
    </div>
    <!-- <div class="computer only tablet only column">
      <div class="ui vertical divider">
        <i class="anchor icon"></i>
      </div>
    </div> -->

    <div class="four wide center aligned column">
      <div class="programming-image"></div>

      <div class="ui large header">PROGRAMMING</div>

      <p class="">
        Our mission is to help you reach your goals.
        We have exceptional coaches who are knowledgeable, experienced, and know how to get results.
        With varied and challenging programming tailored your skill level, you will see yourself improve every week.
      </p>
    </div>

    <div class="mobile only column">
      <div class="ui horizontal divider">
        <i class="anchor icon"></i>
      </div>
    </div>
    <!-- <div class="computer only tablet only column">
      <div class="ui vertical divider">
        <i class="anchor icon"></i>
      </div>
    </div> -->

    <div class="four wide center aligned column">
      <div class="results-image"></div>

      <div class="ui large header">RESULTS</div>

      <p class="">
        CrossFit is strength and conditioning fitness program that has been proven effective around the world.
        We will provide you with the tools and the knowledge to enhance your lifestyle with all of the benefits CrossFit provides.
      </p>
    </div>
  </div>

  <div class="centered computer only tablet only row" id="row-3">
    <div class="home-2">
      <div class="ui one column grid container">
        <div class="center aligned twelve wide column">

          <p class="large">
            All ages and fitness levels are welcome at Elliott Bay CrossFit.
            We have designed an effective fitness program that is enhanced by our awesome community of athletes.
            Ready to get started?
          </p>
          {{#link-to 'getting-started' class="ui huge primary button"}}GET STARTED{{/link-to}}

        </div>

      </div>
    </div>
  </div>

  <div class="centered mobile only row" id="row-3">
    <div class="home-2b">
      <div class="ui one column grid container">
        <div class="center aligned column">

          <p class="large">
            All ages and fitness levels are welcome at Elliott Bay CrossFit.
            We have designed an effective fitness program that is enhanced by our awesome community of athletes.
            Ready to get started?
          </p>
          {{#link-to 'getting-started' class="ui huge primary button"}}GET STARTED{{/link-to}}

        </div>

      </div>
    </div>
  </div>

  <div class="centered row" id="row-4">
      <div class="five wide center aligned computer only tablet only column">
        {{google-map}}
      </div>
      <div class="five wide computer only tablet only column">
        <h1 class="ui primary header">VISIT US</h1>
        <h2>
          Elliott Bay CrossFit
          <br>
          209 Bell St
          <br>
          Seattle WA, 98121
        </h2>

        <a class="ui large button" href="https://www.google.com/maps/place/Elliott+Bay+CrossFit" target="_blank">GET DIRECTIONS</a>

        <div class="ui header">
          info@elliottbaycrossfit.com
        </div>

      </div>
      <div itemscope itemtype="http://schema.org/LocalBusiness" class="five wide mobile only center aligned column">
        <a href="https://www.google.com/maps/place/Elliott+Bay+CrossFit">
          <div class="center aligned column home-map">
          </div>
        </a>
        <h1 class="ui primary header">VISIT US</h1>
        <h2>
          <span itemprop="name">Elliott Bay CrossFit</span>
          <br>
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">209 Bell St</span>
            <br>
            <span itemprop="addressLocality">Seattle</span> <span itemprop="addressRegion">WA</span>, <span itemprop="postalCode">98121</span>
          </span>
        </h2>

        <a class="ui large button" href="https://www.google.com/maps/place/Elliott+Bay+CrossFit" target="_blank">GET DIRECTIONS</a>

        <div  itemprop="email" class="ui header">
          info@elliottbaycrossfit.com
        </div>

      </div>
  </div>
</div>
