{{title "Pricing"}}

<div class="ui center aligned four column stackable very relaxed grid container pricing page-grid">
  <div class="fourteen wide column">
    <p class="huge">
      We try to keep our memberships simple.
      <br>
      We charge month to month, with no long-term commitments required.
    </p>
  </div>

  <hr>

  <div class="row">

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">ON-RAMP</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.on-ramp.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.on-ramp.description'}}
        </p>
      </div>
    </div>

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">UNLIMITED</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.unlimited.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.unlimited.description'}}
        </p>
      </div>
    </div>

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">PUNCH CARD</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.punch-card.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.punch-card.description'}}
        </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">SINGLE DROP-IN</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.single-drop-in.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.single-drop-in.description'}}
        </p>
      </div>
    </div>

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">WEEK LONG DROP-IN</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.week-long-drop-in.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.week-long-drop-in.description'}}
        </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">ON-RAMP</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.on-ramp.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.on-ramp.description'}}
        </p>
      </div>
    </div>

    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">UNLIMITED</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.unlimited.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.unlimited.description'}}
        </p>
      </div>
    </div>

    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">PUNCH CARD</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.punch-card.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.punch-card.description'}}
        </p>
      </div>
    </div>

    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">SINGLE DROP-IN</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.single-drop-in.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.single-drop-in.description'}}
        </p>
      </div>
    </div>

    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">WEEK LONG DROP-IN</h1>
        </div>
        <div class="row">
          <h2>{{t 'pricing.week-long-drop-in.price'}}</h2>
        </div>
        <p>
          {{t 'pricing.week-long-drop-in.description'}}
        </p>
      </div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="fourteen wide column">
      <p class="large">
        {{t 'pricing.sign-up'}}
      </p>
      <div class="ui header">Sign up with Front Desk</div>
      <a class="ui huge primary button" href="https://elliottbaycrossfit.frontdeskhq.com/people/3047546-rohan-joseph/shop" target="_blank">SIGN UP</a>
    </div>
  </div>

  <hr>

  <div class="fourteen wide column">
    <h4 class="ui large header primary">
      Cancellation, Refund &amp; Privacy Policy
    </h4>
    <p class="large">
      You can cancel at anytime directly through Front Desk or by contacting us at info@elliottbaycrossfit.com.
      <br>
      If you find yourself traveling frequently or otherwise occupied, and you need to suspend your membership for a time, just let us know and we’d be happy to take care of it for you.
      <br>
      Additionaly, all purchases can be refunded within one week of purchase or on a case by case basis.
      <br>
      Finally, View our Privacy Policy {{#link-to 'pricing.privacy'}}here{{/link-to}}.
    </p>
  </div>
</div>
{{outlet}}
