<div class="banner">
  <h1 class="ui header">WOD Archive</h1>
</div>
<div class="ui centered two column grid">
  <div class="six wide column">
    <div class="row">
      {{#if model.image}}
        <img  width=300px src={{model.image}}>
      {{else}}
        <img  width=300px src="/assets/place-holder-image.png">
      {{/if}}
    </div>
    <div class="row">
      {{#each model.tags as |tag|}}
        <div class="ui animated button">
          <div class="visible content">
            {{tag.value}}
          </div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="two wide column">
    <h3>{{model.prettyDate}}</h3>
    <div class="ui header">Strength</div>
    <div class="pre">{{model.strength}}</div>
    <div class="ui header">Conditioning</div>
    <div class="pre">{{model.conditioning}}</div>
  </div>
</div>
