<div class="banner wod">
  <div class="ui grid container">
    <h1 class="banner-header">WOD Archive</h1>
  </div>
</div>


<div class="ui centered two column mobile reversed stackable grid">

  <div class="five wide column">
    <div class="row">

      <div class="image-container">
        {{#if model.image}}
          <a href={{model.image}}>
            <img  class=wod-image src={{model.image}}>
          </a>
        {{else}}
          <img  width=300px src="/assets/place-holder-image.png">
        {{/if}}
      </div>

    </div>
    <div class="row">
      {{#each model.tags as |tag|}}
        <div class="ui animated button tag">
          <div class="visible content">
            {{tag.value}}
          </div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="seven wide column">
    {{#link-to 'wods' class="read-more"}}
      <i class="chevron left icon"></i>
      Back
    {{/link-to}}
    <div class="ui huge header">{{model.prettyDate}}</div>

    {{#if model.strength}}
      <div class="ui large header orange">STRENGTH</div>
      <div class="pre">{{model.strength}}</div>
    {{/if}}
    {{#if model.conditioning}}
      <div class="ui large header orange">CONDITIONING</div>
      <div class="pre">{{model.conditioning}}</div>
    {{/if}}
  </div>
</div>
