Title:<h2>{{model.title}}</h2>
Date:<h3>{{model.date}}</h3>
Strength:<pre>{{model.strength}}</pre>
Conditioning:<pre>{{model.conditioning}}</pre>

Tags:
{{#each model.tags as |tag|}}
  {{tag.value}}
{{/each}}

<div>
  <img  width=300px src={{model.image}}>
</div>
<button {{action "getWod"}}>Create WOD</button>
