Title:<h2>{{model.title}}</h2>
Date:<h3>{{model.date}}</h3>
Strength:<pre>{{model.strength}}</pre>
Conditioning:<pre>{{model.conditioning}}</pre>

Tags:
{{#each model.tags as |tag|}}
  <div class="ui animated button">
    <div class="visible content">
      {{tag.value}}
    </div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </div>
{{/each}}

<div>
  <img  width=300px src={{model.image}}>
</div>
