{{title-banner img-src="wods" page-title="WOD ARCHIVE"}}

<br>
<div class="ui container">
  <div class="ui stackable two column grid page-grid">

    <div class="three wide right aligned mobile only column">
      {{#ui-accordion}}
        <div class="title">
          <i class="big search icon"></i>
        </div>
        <div class="content">
          {{wod-search tags=tags tag=tag date=date}}
        </div>
      {{/ui-accordion}}
    </div>


    <div class="row">
      <h4 class="ui header wods-found">
        {{#if searching}}
          {{wodsFound}}
        {{else}}
          <br>
        {{/if}}
      </h4>
    </div>

    <div class="twelve wide column wod-list">
      {{#if loading}}
          <div class="ui active inverted dimmer">
            <div class="ui large text loader wod-loader">Loading</div>
          </div>
      {{/if}}
      {{#each sortedWods as |wod|}}

        {{wod-item
          isWodsRoute=true
          wod=wod
          image=wod.image
          tags=wod.tags
          prettyDate=wod.prettyDate
          strength=wod.strength
          conditioning=wod.conditioning
          description=wod.description
          videoId=wod.videoId}}

        <hr>

      {{/each}}

      <br>

      {{#unless searching}}
        <button class="ui primary button older hidden"{{action "getOlder"}}>Older</button>
      {{/unless}}
    </div>

    <div class="four wide computer only tablet only column">
      {{wod-search tags=tags tag=tag date=date}}
    </div>
  </div>
</div>
