<div class="ui two column grid">
  <div class="ui column">

    <div class="ui two column grid">
      {{#each wods as |wod|}}
        <div class="ui column">
          {{#if wod.image}}
            <img  class="small-img" src={{wod.image}}>
          {{else}}
            <img  class="small-img" src="/assets/place-holder-image.png">
          {{/if}}
        </div>
        <div class="ui column">
          <!-- <div class="ui header">{{wod.title}}</div> -->
          <div class="ui header">{{wod.prettyDate}}</div>

          <div class="ui header">Strength</div>
          <pre>{{wod.strength}}</pre>

          <div class="ui header">Conditioning</div>
          <pre>{{wod.conditioning}}</pre>

        <!-- {{#if wod.tags}}
          Tags:
          {{#each wod.tags as |tag|}}
            <h3>{{tag.value}}</h3>
          {{/each}}
        {{else}}
          No Tags
        {{/if}} -->


        {{#link-to 'wod' wod}}
          Read More
        {{/link-to}}
      </div>
    {{/each}}
    </div>
  </div>

  <div class="ui column">
    <!-- {{select-2
        content=tags
        value=searchedTags
        multiple=true
        placeholder="Search Tags"
    }} -->
    {{tag-select2 class="ui dropdown" tags=tags selectedTags=searchedTags}}
    {{bootstrap-datepicker-inline clearBtn=true value=wodDate}}
  </div>

</div>
