{{title-banner img-src="wods" page-title="WOD ARCHIVE"}}

<div class="ui container">
  {{#if searching}}
    <h4 class="ui header">
      {{wodsFound}} Wods Found
    </h4>
  {{/if}}
</div>

<br>

<div class="ui stackable centered two column grid">
  <div class="eight wide column">

      {{#each wods2 as |wod|}}

        <div class="ui two column stackable mobile reversed grid">

          <div class="five wide column">
              {{#if wod.image}}
                <a href={{wod.image}}>
                  <img  class="small-img" src={{wod.image}}>
                </a>
              {{else}}
                <img  class="small-img" src="/assets/place-holder-image.png">
              {{/if}}
          </div>

          <div class="nine wide column">
            <div class="trunckated">
              <div class="ui header large">{{wod.prettyDate}}</div>
              {{#if wod.strength}}
                <div class="ui header orange">STRENGTH</div>
                <div class="pre">{{wod.strength}}</div>
              {{/if}}
              {{#if wod.conditioning}}
                <div class="ui header orange">CONDITIONING</div>
                <div class="pre">{{wod.conditioning}}</div>
              {{/if}}
            </div>
            {{#link-to 'wod' wod class="read-more"}}
              Read More
              <i class="chevron right icon"></i>
            {{/link-to}}
          </div>

          <hr>

        </div>

      {{/each}}

    <br>
    {{#unless searching}}
      <button class="ui primary button older hidden"{{action "getOlder"}}>Older</button>
    {{/unless}}
  </div>

    <div class="three wide computer only column">
      <div class="ui one center aligned column grid">
        <div class="row">
          <div class="ui input datepicker">
            {{pikaday-input value=wodDate placeholder="Search By Date"}}
          </div>
        </div>


        <button class="ui button older hidden clearDate"{{action "clearDate"}}>Clear Date</button>


        <div class="ui horizontal divider">
          Or
        </div>

        {{#ui-dropdown class="search selection" onChange=(action 'tagsEntered')}}

          <div class="default text">Seach by Tags</div>
          <i class="dropdown icon"></i>
          <div class="menu">
          {{#each tags as |tag|}}
            <div class="item" data-value={{tag.id}}>
              {{tag.value}}
            </div>
          {{/each}}
          </div>
        {{/ui-dropdown}}

        <div class="row">
          <button class="ui button older hidden clearTags"{{action "clearTags"}}>Clear Tags</button>
        </div>
    </div>
  </div>
</div>
