<!-- {{#ui-search url="api/v1/tags"}}
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Common passwords...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
{{/ui-search}} -->

<!-- <div class="ui icon input">
  <input type="text" placeholder="Search By Tag...">
  <i class="search icon"></i>
</div> -->
<!-- {{tag-select2 class="ui dropdown" tags=allTags selectedTags=tagsForWod}} -->
<!-- {{#ui-dropdown class="selection"}}
  <input type="hidden" name="gender">
    <i class="search icon"></i>
    <div class="default text">Search By Tag...</div>
    <div class="menu">
      {{#each tags as |tag|}}
        <div class="item" data-value=tag>{{tag.value}}</div>
      {{/each}}

    </div>
{{/ui-dropdown}} -->
{{bootstrap-datepicker-inline clearBtn=true value=wodDate}}

{{select-2
    content=tags
    value=searchedTags
    multiple=true
    placeholder="Search Tags"
}}



{{#each wods as |wod|}}
  Title:<h2>{{wod.title}}</h2>
  Date:<h3>{{wod.date}}</h3>
  Strength:<pre>{{wod.strength}}</pre>
  Conditioning:<pre>{{wod.conditioning}}</pre>

  {{#if wod.tags}}
    Tags:
    {{#each wod.tags as |tag|}}
      <h3>{{tag.value}}</h3>
    {{/each}}
  {{else}}
    No Tags
  {{/if}}
  <div>
    <img  width=300px src={{wod.image}}>
  </div>

  {{#link-to 'wod' wod}}
    Read More
  {{/link-to}}
  <br>
{{/each}}
