<div class="banner">
  <h1 class="ui huge header">WOD Archive</h1>
</div>

    <div class="ui stackable centered two column grid">

      <div class="column">
        {{#each wods2 as |wod|}}

          <div class="ui two column stackable mobile reversed grid">

                <div class="five wide column underlined">
                    {{#if wod.image}}
                      <a href={{wod.image}}>
                        <img  class="small-img" src={{wod.image}}>
                      </a>
                    {{else}}
                      <img  class="small-img" src="/assets/place-holder-image.png">
                    {{/if}}
                </div>

                <div class="nine wide column underlined">
                  <div class="trunckated">
                    <div class="ui header large">{{wod.prettyDate}}</div>
                    {{#if wod.strength}}
                      <div class="ui header orange">STRENGTH</div>
                      <div class="pre">{{wod.strength}}</div>
                    {{/if}}
                    {{#if wod.conditioning}}
                      <div class="ui header orange">CONDITIONING</div>
                      <div class="pre">{{wod.conditioning}}</div>
                    {{/if}}
                  </div>
                  {{#link-to 'wod' wod class="read-more"}}
                    Read More
                  {{/link-to}}
              </div>
              <hr>
            </div>

      {{/each}}
    </div>
    <div class="three wide computer only column">
      <div class="ui sticky right floated segment search-wods">
        {{tag-select2 class="ui dropdown" tags=tags selectedTags=searchedTags}}
        {{bootstrap-datepicker-inline clearBtn=true value=wodDate}}
      </div>
    </div>
  </div>

  <button class="ui primary button"{{action "getOlder"}}>Older</button>
